/* Reference Code: https://html-online.com/articles/blinking-text-css-animation/*/

.tealText{
  color: teal;
  font-family: "Helvetica", sans-serif;
  font-size: 50px;
}

.blinking{
    animation:blinkingText 1s infinite;
}
@keyframes blinkingText{
    0%{color: gold;}
    100%{color: teal;}
}

/* Button with the same theme as assignment 1*/
.BlueButton{
  background-color: deepskyblue;
  border: 2px solid skyblue;
  color: black;
  padding: 5px;
  font-family: "Helvetica", sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
}